<h3>Welcome Ready to look your best, </h3>
<h4><%=@current_client.full_name%>!</h4>
<strong>Last Appointment</strong>
<p><%= @artist.full_name%></p>

<div>
 <a href="/appointments">Set your appointment today !</a> 
</div>


<div ng-app="app">
  {{ 1 + 1 }}
</div>

<!-- Michelle Phan(spanish rose) -->
<!-- Nitraa B(Purple Glitter Smokey Eye) -->
<!-- Samantha and Nic Chapman / Pixiwoo(Angelina Jolie Makeup Tutorial) -->
<!-- Lisa Eldridge(Marilyn Monroe - Iconic Makeup Look) -->
<!-- Kandee Johnson(How To Do Pin-Up Girl Make-Up) -->
<!-- Wayne Goss /grossmakeupartist(Selena Gomez Makeup Tutorial) -->