<h1>App Name</h1>
<h4>Why use App Name</h4>
<div>
<p>Today's Society we are always on the go being productive we don't always have the time to go to the salon to get our makeup done. But we always like to look our best. So sounds like we have dilemna right? Now with (App Name) we could bring our best self that will bring us to conquer the day.
</p></div>
<a href="/makeup_artists/signup"> Artist Sign Up</a>
<br>
<a href="/clients/signup">Client Sign Up</a>
<br>
<a href="/login">Login</a>