<h3><%= @current_makeup_artist.full_name %>'s</h3>
<h3>Current Inventory </h3>

<div>
<% @items.each do |item|%>
<p><%=item.makeup_items%></p>
<p><%=item.makeup_tools%></p>
<%= form_tag "/makeups/#{item.id}", method: :delete do %> 
<% submit_tag ' Not needed ' %>
<% end %>
<% end %>

</div>